@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
body {
  font-family: "Inter", sans-serif;
  color: #293264;
}
.App {
  max-width: 60vw;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border: 1px solid #456545;
  margin: 20vh auto;
  position: relative;
  overflow: hidden;
  min-height: 70vh;
  padding: 2rem;
  background-color: #fff6f6;
}
.blobTop {
  position: absolute;
  overflow: hidden;
  right: -2%;
  top: -5%;
  height: 100px;
  /* z-index: -1; */
}
.blobBottom {
  position: absolute;
  overflow: hidden;
  left: -5%;
  bottom: -5%;
  height: 100px;
  /* z-index: -1; */
}
.startButton {
  background-color: #4d5b9e;
  width: fit-content;
  padding: 1rem;
  height: 52px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: x-large;
  line-height: 19px;
  text-align: center;
  color: #f5f7fb;
  background: #4d5b9e;
  border-radius: 15px;
  border: none;
}
.App h1 {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 31.25px;
  line-height: 37px;
  text-align: center;
  color: #4d5b9e;
}

/* question Element Container */
.questionElementContainer {
  padding: 0;
}
.questionText {
  font-family: "Karla";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 0;
}
.answersList {
  list-style: none;
  display: flex;
  /* justify-content: space-around; */
  /* grid-gap: 5px; */
  padding: 0;
}
.answersListItem {
  border-radius: 8px;
  padding: 0.5em;
  border: 1px solid red;
  color: #4d5b9e;
  font-size: smaller;
  text-align: center;
  text-decoration: none;
  margin-right: 5px;
}
